@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helloviteca";
  src: url("/fonts/hellovetica.ttf") format("truetype");
}

@font-face {
  font-family: "NeueMachina";
  src: url("/fonts/NeueMachina/NeueMachina-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina";
  src: url("/fonts/NeueMachina/NeueMachina-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina";
  src: url("/fonts/NeueMachina/NeueMachina-Ultralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina";
  src: url("/fonts/NeueMachina/NeueMachina-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina";
  src: url("/fonts/NeueMachina/NeueMachina-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina";
  src: url("/fonts/NeueMachina/NeueMachina-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina";
  src: url("/fonts/NeueMachina/NeueMachina-Ultrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    /* main colors of website */
    --main-background: #191919;
    --primary-green: #58e191;
    --primary-purple: #e256ff;
    --primary-grey: #aeaeae;
    --secondary-grey: #6a6a6a;
    --dashed-border: #434343;
    --navbar-color: rgba(25, 25, 25, 1);

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.clip-path {
  --edge-size: 14px;
  /* cut two corners of button, the top right and bottom left   */
  clip-path: polygon(
    0 0,
    calc(100% - var(--edge-size)) 0,
    100% var(--edge-size),
    100% 100%,
    var(--edge-size) 100%,
    0 calc(100% - var(--edge-size))
  );
}

.outlinedHacknu::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid white;
  clip-path: inherit;
  pointer-events: none;
  z-index: -1;
}

.cutted-cls {
  --all: 0px;
  --b: white;
  --bottom-left: 10px;
  --top-right: 10px;

  border: 2px solid var(--b);
  background: linear-gradient(
        45deg,
        var(--b) 0 calc(var(--bottom-left, var(--all)) + 2px),
        transparent 0
      )
      bottom left / 50% 50%,
    linear-gradient(
        -45deg,
        var(--b) 0 calc(var(--bottom-right, var(--all)) + 2px),
        transparent 0
      )
      bottom right/50% 50%,
    linear-gradient(
        135deg,
        var(--b) 0 calc(var(--top-left, var(--all)) + 2px),
        transparent 0
      )
      top left / 50% 50%,
    linear-gradient(
        -135deg,
        var(--b) 0 calc(var(--top-right, var(--all)) + 2px),
        transparent 0
      )
      top right / 50% 50%,
    var(--img, transparent);
  background-origin: border-box;
  background-repeat: no-repeat;
  -webkit-mask: linear-gradient(
        45deg,
        transparent 0 var(--bottom-left, var(--all)),
        #fff 0
      )
      bottom left,
    linear-gradient(
        -45deg,
        transparent 0 var(--bottom-right, var(--all)),
        #fff 0
      )
      bottom right,
    linear-gradient(135deg, transparent 0 var(--top-left, var(--all)), #fff 0)
      top left,
    linear-gradient(-135deg, transparent 0 var(--top-right, var(--all)), #fff 0)
      top right;
  -webkit-mask-size: 50.5% 50.5%;
  -webkit-mask-repeat: no-repeat;
}

a {
  text-decoration: underline;
}
